clean_fid==0.1.35
diffusers==0.20.2
embedding_reader==1.7.0
fire==0.5.0
fsspec==2023.10.0
lpips==0.1.4
magma==0.3.9
matplotlib==3.6.3
multidict==6.0.5
numpy==2.0.1
omegaconf==2.3.0
onnxruntime==1.16.2
onnxruntime_gpu==1.15.1
opencv_python_headless==4.9.0.80
pandas==1.5.1
Pillow==9.5.0
Pillow==10.4.0
scipy==1.14.0
seaborn==0.13.2
torch==2.1.1
torchmetrics==1.1.2
torchvision==0.16.1
tqdm==4.64.1
transformers==4.40.2
wordcloud==1.9.3
